@font-face {
    font-family: "Nunito";
    src: url(./font/Nunito-VariableFont_wght.woff2) format('woff2');
    font-style: normal;
    font-weight: normal;
}

body {
    --yelow-color: #FFAB08;
    --orange-color1: #FF7020;
    --orange-color2: #F86310;
    --orange-color3: #FF5C00;
    --black-color: #000000;
    --background-color: #F2F2F3;
    --gray-color: #B1B1B1;
    --white-color: #FFFFFF;
    background-color: var(--background-color);
    font-family: "Nunito", sans-serif;
    padding: 1px;
    position: relative;
}

.header {
    background: #FFA920;
    height: 650px;
    border-bottom-left-radius: 90% 30%;
    border-bottom-right-radius: 90% 30%;
    padding: 1px;
    position: relative;
}

.header__title-img {
    margin-left: 48%;
    margin-top: 30px;
}

.header__slogan {
    font-size: 5em;
    color: var(--white-color);
    margin-left: 50%;
    margin-top: 150px;
}

.header__slogan_orange {
    font-size: 5em;
    color: var(--orange-color3);
    margin-left: 50%;
}

.header__slogan-all {
    position: absolute;
    inset: 0 0 0 0;
}

.header__offer {
    color: var(--white-color);
    margin-left: 50%;
}

.header__anim.anim {
    margin-left: 58vh;
}

.anim__burger {
    width: 253px;
    height: 250px;
    animation: Burger-fly 1s ease-in-out infinite alternate;
    position: relative;
    z-index: 10;
}

.anim__burger-shadow {
    width: 209px;
    height: 24px;
    margin-left: 35px;
    margin-top: 100px;
    animation: Shadow 1s ease-in-out infinite alternate;
    position: relative;
}

@keyframes Burger-fly {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(100px);
    }
}

@keyframes Shadow {
    from {
        transform: scaleY(0.5);
    }
    to {
        transform: scaleY(1);
    }
}

/* ______________________________________________ */

.list-products {
    display: flex;
    margin-left: 32px;
    gap: 24px;
}

.list-products__burgers-label,
.list-products__snacks-label,
.list-products__hotdogs-label {
    width: 126px;
    height: 40px;
    background-color: var(--white-color);
    border: none;
    border-radius: 50px;
    padding-left: 45px;
    position: relative;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
}

.list-products__burgers-label::before,
.list-products__snacks-label::before,
.list-products__hotdogs-label::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
}

.list-products__burgers-label::before {
    background-image: url("../mini-img/Бургеры.png");
}

.list-products__snacks-label::before {
    background-image: url("../mini-img/Закуски.png");
}

.list-products__hotdogs-label::before {
    background-image: url("../mini-img/Хот-доги.png");
}

.elections-window {
    display: flex;
}

.list-products__burgers-input,
.list-products__snacks-input,
.list-products__hotdogs-input {
    display: none;
}

.list-products__burgers-input:checked + .list-products__burgers-label  {
    background-color: var(--yelow-color);
}

.list-products__snacks-input:checked + .list-products__snacks-label  {
    background-color: var(--yelow-color);
}

.list-products__hotdogs-input:checked + .list-products__hotdogs-label  {
    background-color: var(--yelow-color);
}

/* ______________________________________________ */

.elections-window__cart.cart  {
    width: 300px;
    height: 467px;
    background-color: var(--white-color);
    border: none;
    border-radius: 18px;
    margin-left: 75px;
    margin-top: 122px;
}

.cart__top.top {
    display: flex;
}

.top__title {
    width: 98px;
    font-size: 1.5em;
    margin-left: 16px;
    margin-top: 24px;
}

.top__quantity {
    width: 41px;
    height: 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--background-color);
    padding-left: 15px;
    padding-bottom: 5px;
    margin-left: 70px;
    margin-top: 36px;
}

.cart__list.list {
    width: 100%;
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden; 
}

.list__product {
    width: 268px;
    display: flex;
    flex-wrap: wrap;
}

.product__img {
    width: 64px;
    height: 52px;
    border: none;
    border-radius: 8px;
    margin-left: 8px;
}

.product__description.description {
    width: 70px;
    margin-left: 16px;
}

.description__title {
    width: 70px;
    border-radius: 8px;
}

.description__weight {
    width: 38px;
    color: var(--gray-color);
}

.description__title,
.description__weight,
.description__price {
    font-size: 10px;
}

.product__quantity.quantity {
    width: 84px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: var(--background-color);
    display: flex;
    margin-left: 16px;
}

.quantity__minus-btn,
.quantity__plus-btn {
    border: none;
    background-color: transparent;
    margin-left: 9px;
}

.quantity__value {
    margin-left: 9px;
    margin-top: 8px;
}

.cart__line {
    width: 90%;
    height: 3px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--background-color);
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.elections-window__total.total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.total__title {
    margin-left: 16px;
}

.total__value {
    margin-right: 16px;
}

.elections-window__place-an-order {
    width: 268px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: var(--orange-color1);
    color: var(--white-color);
    margin-bottom: 8px;
    transition: background-color .2s;
}

.elections-window__place-an-order:hover {
    background-color: var(--orange-color2);
}

.elections-window__offer {
    margin-bottom: 24px;
    margin-left: 40px;
}

.elections-window__offer::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 85px;
    top: 1240px;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("mini-img/Cкутер.png");
}

/* ______________________________________________ */

.burgers__title,
.snacks__title,
.hotdogs__title {
    font-size: 2rem;
    margin: 50px 330px 0 24px;
}

.burgers-list,
.snacks-list,
.hotdogs__list {
    display: flex;
    flex-flow: row wrap;
    margin-left: 30px;
    margin-top: 50px;
}

.burgers-list__card,
.snacks-list__card,
.hotdogs__list__card {
    width: 300px;
    height: 411px;
    background-color: #ffffff;
    border: none;
    border-radius: 18px;
    padding-top: 1px;
}

.burgers-list__card:not(:last-child),
.snacks-list__card:not(:last-child),
.hotdogs__list__card:not(:last-child) {
    margin-right: 30px;
}

.card__img {
    width: 276px;
    height: 220px;
    margin-inline: 12px;
    margin-top: 11px;
}

.card__price {
    margin-left: 12px;
    margin-top: 16px;
}

.card__title {
    margin-left: 12px;
    margin-top: 8px;
    margin-bottom: 29px;
}

.card__weight {
    margin-left: 12px;
    margin-bottom: 8px;
    color: #B1B1B1;
}

.add-button {
    width: 276px;
    height: 40px;
    background-color: #F2F2F3;
    border: none;
    border-radius: 12px;
    margin-inline: 12px;
    margin-bottom: 12px;
    transition: background-color .2s;
}

/* ______________________________________________ */

.add-button:hover {
    background-color: #bdbdbd;
}

.add-button_free {
    background-color: #6eff5b;
    color: #245a00;
}

.add-button_free:hover {
    background-color: #25961b;
}

.footer {
    width: 1154px;
    height: 153px;
    margin: 151px 0 40px 200px;
    position: relative;
}

.footer__copyright {
    margin-top: 60px;
}

.footer__phone-number.phone-number {
    position: absolute;
    left: 660px;
    bottom: 100px;
}   

.footer__socialnetwork {
    position: absolute;
    left: 1000px;
    bottom: 100px;
}

.socialnetwork__btn-wk.btn-wk,
.socialnetwork__btn-wk.btn-tg {
    border: none;
    background-color: transparent;
    transition: filter .2s;
}

.socialnetwork__btn-wk.btn-wk:hover,
.socialnetwork__btn-wk.btn-tg:hover {
    filter: brightness(75%);
}
/* ______________________________________________ */

.none {
    display: none !important;
}

/* ______________________________________________ */

.placing-an-order {
    width: 684px;
    height: 487px;
    border: none;
    display: flex; 
    position: fixed;
    top: 30vh;
    left: 30vw;
    z-index: 100;
}

.placing-an-order__donut.donut {
    width: 342px;
    height: 432px;
    background-color: var(--yelow-color);
    padding: 1px;
    border-radius: 24px 0 0 24px;
}

.donut__img {
    width: 302px;
    height: 302px;
    margin: 65px 21px 65px 19px;
}

.placing-an-order__main.main {
    width: 342px;
    height: 432px;
    background-color: #F9F9F9;
    border-radius: 0 24px 24px 0;
    position: relative;
}

.main__close-btn {
    width: 24px;
    height: 24px;
    border: none;
    background-image: url(mini-img/krest.png);
    background-color: #F9F9F9;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 24px;
    margin-left: 294px;
}

.main__close-btn:hover {
    background-image: url(mini-img/krest-hover.png);
}

.main__title {
    margin-left: 24px;
    margin-top: 20px;
}

.main__pickup.pickup,
.main__delivery.delivery {
    position: absolute;
}

.main__pickup.pickup {
    top: 200px;
    left: 30px;
}

.main__delivery.delivery {
    top: 230px;
    left: 30px;
}

.pickup-label__form-name {
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    margin-left: 24px;
}

.pickup-label__form-phone {
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    margin-left: 24px;
    margin-top: 8px;
}
.pickup-label__form-address {
    width: 294px;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    margin-bottom: 8px;
    grid-area: 1 / 1 / 2 / 3;
}
.pickup-label__form-intercom {
    width: 143px;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
}
.pickup-label__form-floor {
    width: 143px;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    margin-left: 3px;
}

.main__delivery-label.delivery-label {
    display: grid;
    grid-template-columns: 147px;
    grid-template-rows: 40px, 40px;
    margin-top: 76px;
    margin-bottom: 32px;
    margin-left: 24px;
}

.main__btn-placing-an-order {
    width: 268px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: var(--orange-color1);
    color: var(--white-color);
    margin-bottom: 8px;
    transition: background-color .2s;
    margin-left: 24px;
}

.main__btn-placing-an-order:hover {
    background-color: var(--orange-color2);
}

.black-back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;

}





